// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorboard {
  width: 100%;
  margin-top: 15px;

  td {
    border: #ccc 1px solid;
    margin: 5px;
  }
 }

 .boards-list .colorboard {
  width: 150px;
  height: 150px;
  margin-top: 0px;
  td {
    height: 15px;
    width: 15px;
  }
 }

.main-div {
  margin-top: 20px;
  padding: 20px;
}

.logo-img {
  max-height: 39px;
  margin-top: 3px;
  padding-left: 3px;
}

.alt-h1 {
  color: #2AAADD;
}

.back-btn {
  
}



/* SAMPLE NAV CSS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

* { margin: 0; padding: 0; list-style: none; font-family: "Open Sans" }
body { background: url(http://cdn.ry-ry.co.uk/images/textures/light-cotton.png) }

ul.menu
{
  height: 45px;
  background: #2AAADD;
  box-shadow: inset 0 -1px #2D8FD1, 0 0 30px rgba(0, 0, 0, .33);
}

ul.menu > h1, ul.menu li, ul.menu li > a
{
  display: block;
  float: right;
  padding: 0 20px;
  height: 45px;
  line-height: 43px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
  text-shadow: 0 1px #000;
}

ul.menu li
{
  position: relative;
  float: right;
  padding: 0;
}

ul.menu li > a
{
  position: relative;
  z-index: 2;
  border-left: 2px solid rgba(255, 255, 255, .1);
  border-right: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 1px 0 rgba(0, 0, 0, .4);
  cursor: pointer;
  text-decoration: none;
}

ul.menu > li:last-of-type > a
{
  box-shadow: 1px 0 rgba(0, 0, 0, .4), 2px 0 rgba(255, 255, 255, .1);
}

ul.menu li > a
{
  float: none;
}

ul.menu li ul
{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #306F9A;
  border-radius: 0 0 2px 2px;
}

ul.menu > li > ul { border-top: 1px solid #1C557B }

ul.menu li:hover > ul { display: block }

ul.menu li ul li ul { top: 0; left: 100%; border-radius: 0 2px 2px 0 }

ul.menu li ul li
{
  float: none;
}

ul.menu li ul li > a
{
  border: none;
  box-shadow: none;
  white-space: nowrap;
}

ul.menu li ul li:last-of-type > a { border-radius: 0 2px 2px 0 }

ul.menu li > a:hover
{
  z-index: 1;
  background: #257CB6;
}

ul.menu li ul li > a:hover { background: #25618A }