// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorboard {
  width: 100%;

  td {
    border: #ccc 1px solid;
    margin: 5px;
  }
 }

 .boards-list .colorboard {
  width: auto;
  td {
    height: 5px;
    width: 5px;
  }
 }