

.colorboard {
  width: 100%;
  margin-top: 15px;

  td {
    border: #ccc 1px solid;
    margin: 5px;
  }
 }

 .boards-list .colorboard {
  width: 150px;
  height: 150px;
  margin-top: -16px;
  td {
    height: 15px;
    width: 15px;
  }
 }

.board-name {
  font-family: Lato;
  font-size: 16px;
  text-transform: capitalize;
}

.main-div {
  margin-top: 20px;
  padding: 20px;
}

.logo-img {
  max-height: 39px;
  margin-top: 3px;
  padding-left: 3px;
  transition: all 300ms 300ms;
  &:hover{
    opacity: .7;
  }
}

.alt-h1 {
  color: #2AAADD;
  font-family: Lato;
}

.back-btn {
  text-decoration: none;
}

footer a:hover,
footer a:active {
  text-decoration: none;
}

.footer-div {
  padding: 20px;
}
