<footer class="footer-div">
  <div class="btn btn-default">
  <a target="_blank" href="https://github.com/houstongolden/colorboard"><i class="fa fa-github"></i> View the Code on Github</a></div>
</footer>