<ul class="menu">
  <a href="/"><img href="/" class="logo-img" src="https://www.altschool.com/assets/altschool-logo-d6c9830062ff52a05ba8f81c487e4ccd.svg" /></a>
  <li><a href="/boards/new"><i class="fa fa-plus"></i> New Board</a></li>
  <li><a href="/"><i class="fa fa-cubes"></i> Gallery</a></li>
</ul>