<ul class="menu">
  <img href="/" class="logo-img" src="https://www.altschool.com/assets/altschool-logo-d6c9830062ff52a05ba8f81c487e4ccd.svg" />
  <li><a href="/">Gallery</a></li>
  <li><a href="/boards/new">New Board</a></li>
</ul>